body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  /* Keep title at the top */
    height: 100vh;
    background-color: #f0d9b5;
    margin: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;  /* Center the title */
}

#chessboard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#letters {
    display: flex;
    justify-content: left;
    margin-left: 25px; /*makes it aligned with squares*/
    width: 408px;  /* Adjust the width to match the new chessboard size */
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    height: 30px;
}
#letterLI li {
    display: inline-block;
    margin-right: 35px; /* Adjust spacing */
}
#letterLI li:nth-child(8) {
    margin-right: 0;
}


#chessboard-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;
    font-weight: bold;
}


#chessboard {
    display: grid;
    width: 400px;  /* Chessboard width (reduced size) */
    height: 400px; /* Chessboard height (reduced size) */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 4px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.square {
    width: 100%;
    height: 100%;
}

.light {
    background-color: #f0d9b5; /* Light beige */
}

.dark {
    background-color: #769656; /* Dark green */
}
